body {
               font-family: 'Arial', sans-serif;
               background-color: #f4f4f4;
               margin: 20px;
           }

           h2 {
               color: #333;
           }

           table {
               width: 100%;
               border-collapse: collapse;
               margin-top: 20px;
           }

           th, td {
               border: 1px solid #ddd;
               padding: 8px;
               text-align: left;
           }

           th {
               background-color: #4CAF50;
               color: white;
           }

           tr:nth-child(even) {
               background-color: #f2f2f2;
           }


           input[type="submit"] {
               background-color: #007bff; /* Bootstrap's primary color */
               color: #fff;
               border: none;
               padding: 5px 10px;
               border-radius: 3px;
               cursor: pointer;
           }

           input[type="submit"]:hover {
               background-color: #0056b3; /* Darker shade for hover effect */
           }

           /* Styling for header navigation */
           header {
               background-color: #333;
               padding: 10px;
           }

           header a {
               color: white;
               margin-right: 10px;
               text-decoration: none;
           }

           header a:hover {
               text-decoration: underline;
           }