<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Details</title>
    <link th:href="@{/css/allOrders.css}" rel="stylesheet">

</head>
<body>
<header>

    <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
        Logout
    </a>
    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
        <!-- CSRF token if CSRF protection is enabled -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>

</header>
<h2>Order Details</h2>

<table>
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Picture</th>
        <th>Beverage</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="orderItem : ${orderItems}">
        <td th:text="${orderItem.order.username}"></td>
        <td>
            <img th:src="${orderItem.beverage.picture}" alt="Bottle Image" style="max-width: 150px; max-height: 150px;"/>
        </td>
        <td th:text="${orderItem.beverage.name}"></td>
        <td th:text="${orderItem.price}"></td>
        <td th:text="${orderItem.quantity}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>

