<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <title>Order Details of </title> <span th:text="${#authentication.name}"></span>-->

    <link th:href="@{/css/orders.css}" rel="stylesheet">
</head>
<body>
<header>
    <a th:href="@{/}" class="text-info">Home</a>


    <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
        Logout
    </a>
    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
        <!-- CSRF token if CSRF protection is enabled -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>

</header>
<h2>Order Details of, <span th:text="${#authentication.name}"></span>!</h2>
<table>
<thead>
<tr>
<!--    <th>Order ID</th>-->
<!--    <th>Username</th>-->
    <th>Picture</th>
    <th>product Name</th>
    <th>Price</th>
    <th>Quantity</th>

</tr>
</thead>
<tbody>
<tr th:each="orderItem : ${orderItems}">

    <th:block th:if="${orderItem.order.username == #authentication.name}">
        <td>
            <img th:src="${orderItem.beverage.picture}" alt="Bottle Image" style="max-width: 150px; max-height: 150px;"/>
        </td>
        <td th:text="${orderItem.beverage.name}"></td>
        <td th:text="${orderItem.price}"></td>
        <td th:text="${orderItem.quantity}"></td>


</tr>
</tbody>
</table>
</body>
</html>